<?xml version="1.0" encoding="utf-8"?>
<commerceRuntimeExtensions>
  <composition>
    <!-- 
    Register your own assemblies or types here.
    The the following example registers MyNewCrtService (and all its request handlers). Any other services are not being overridden:
    <add source="type" value="Contoso.Commerce.Runtime.MyNewCrtService, Contoso.Commerce.Runtime.Services" />
    <add source="assembly" value="Contoso.Commerce.Runtime.Services" />
    -->
  <add source="assembly" value="Runtime.Extensions.ARAddFOCItemsToPurchaseOrder" /> 
  </composition>
</commerceRuntimeExtensions>